<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Admin Dashboard | Korsat X Parmaga</title>
    <link rel="stylesheet" href="/style2.css">
    <!-- ======= Styles ====== -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    
  </head>
  <body>
    <!-- =============== Navigation ================ -->
    <div class="container2">
      <div class="navigation">
        <ul>
            <div class="topofnav">
          <div>
            <a href="#">
              <span class="icon">
                <img src="./N.png" alt="" width="20px" />
              </span>
              <!-- <span class="title">Nova</span> -->
            </a>
        </div>
        <div class="maintoggle">
            <i class="maintoggle fa fa-bars fa-2x" name="menu-outline"></i>
          </div>
        </div>
        
          <li>
            <a href="/dashboard">
              <span class="icon">
                <ion-icon name="home-outline" href="/dashboard" ></ion-icon>
              </span>
              <span class="title">Home</span>
            </a>
          </li>

          <li >
            <a href="/profile">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
              </span>
              <span class="title">profile</span>
            </a>
          </li>
          
                
          <li>
            <a href="/post">
              <span class="icon">
                <ion-icon name="help-outline"></ion-icon>
              </span>
              <span class="title">Post</span>
            </a>
          </li>
          
          <!-- 
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Settings</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
                        <span class="title">Password</span>
                    </a>
                </li> -->

          <li>
            <a href="/users/logout">
              <span class="icon">
                <ion-icon name="log-out-outline"></ion-icon>
              </span>
              <span class="title">Sign Out</span>
            </a>
          </li>
          <li>
            <a href="#"class="hidethisshi">
                      <span class="icon">
                          <ion-icon name="chatbubble-outline"></ion-icon>
                      </span>
                      <span class="title">Messages</span>
                  </a>
              </li>
              
        </ul>
      </div>

      <!-- ========================= Main ==================== -->
      <div class="main">
        <div class="toptopbar">
        <div class="topbar">
          <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
          </div>


          <div class="user">
            <img src="" alt="" />
          </div>
        </div>
    </div>

        <!-- ================ Order Details List ================= -->
        <div class="details">
          <div class="recentOrders">
            <div class="cardHeader">
              <h2>Top posts</h2>
              <a href="#" class="btn addbtn" 
              data-toggle="modal"
              data-target="#exampleModal"
                ><i class="fa fa-plus fa-lg"></i
              ></a>
            </div>
            <!-- Button trigger modal -->

            <!-- Modal -->
            <!-- <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Post your Updates
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body"><form action="#" method="post" enctype="multipart/form-data">
                    <div class="md-form amber-textarea active-amber-textarea">
                        <textarea id="form19" class="md-textarea form-control" rows="3" placeholder="Enter post test"></textarea>
                      </div>
                    <br>
                    <label for="image">Image:</label>
                    <input type="file" id="image" name="image">
                    <br>
                    <br>
            
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form></div>
                </div>
              </div>
            </div> -->
            <% post.forEach(function(nova, index) { %>
              <div class="tweet">
                <a href="/profile/<%= nova.P_uploadedby%>">
                  <img class="tweet__author-logo" src="https://i.pinimg.com/originals/0a/53/c3/0a53c3bbe2f56a1ddac34ea04a26be98.jpg" />
               </a>
                <div class="tweet__main">
                  <div class="tweet__header">
                    <div class="tweet__author-name">Chris Martin</div>
                    <div class="tweet__author-slug"> Sumeet Maurya</div>
                  </div>
                  <div class="tweet__content">
                    <%= nova.P_text %>
                      <img class="tweet__image" src= "<%= nova.P_url %>" />
                  </div>
                </div>
              </div>
              <%})%>

          <!-- ================= New Customers ================ -->
          <div class="recentCustomers">
            <div class="cardHeader">
              <!-- <h2>Following</h2> -->
              <h2>Profile</h2>
            </div>

            <table>
              <tr>
                <td width="60px" class="followingsingleitem">
                  <div class="imgBx">
                    <img src="assets/imgs/customer02.jpg" alt="" />
                  </div>
                </td>
                <td>
                  <h4>
                    David <br />
                    <span>Italy</span>
                  </h4>
                </td>
              </tr>
              <tr>
                <td width="60px" class="followingsingleitem">
                  <div class="imgBx">
                    <img src="assets/imgs/customer02.jpg" alt="" />
                  </div>
                </td>
                <td>
                  <h4>
                    David <br />
                    <span>Italy</span>
                  </h4>
                </td>
              </tr><tr>
                <td width="60px" class="followingsingleitem">
                  <div class="imgBx">
                    <img src="assets/imgs/customer02.jpg" alt="" />
                  </div>
                </td>
                <td>
                  <h4>
                    David <br />
                    <span>Italy</span>
                  </h4>
                </td>
              </tr><tr>
                <td width="60px" class="followingsingleitem">
                  <div class="imgBx">
                    <img src="assets/imgs/customer02.jpg" alt="" />
                  </div>
                </td>
                <td>
                  <h4>
                    David <br />
                    <span>Italy</span>
                  </h4>
                </td>
              </tr><tr>
                <td width="60px" class="followingsingleitem">
                  <div class="imgBx">
                    <img src="assets/imgs/customer02.jpg" alt="" />
                  </div>
                </td>
                <td>
                  <h4>
                    David <br />
                    <span>Italy</span>
                  </h4>
                </td>
              </tr><tr>
                <td width="60px" class="followingsingleitem">
                  <div class="imgBx">
                    <img src="https://media.istockphoto.com/id/1288039261/photo/portrait-of-a-smiling-middle-aged-man-of-indian-origin.jpg?b=1&s=170667a&w=0&k=20&c=FpfA07zVvNivkNcYtwzXLrREtwGZA_aMZXDb3GV55Q0=" alt="" />
                  </div>
                </td>
                <td>
                  <h4>
                    David <br />
                    <span>Italy</span>
                  </h4>
                </td>
              </tr>
            </table> 
            
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->

    <!-- =========== Scripts =========  -->
    <script src="./main.js"></script>

    <!-- ====== ionicons ======= -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

