h1 class="mt-4">Profile</h1>
<p class="lead mb-3">
    <img class="tweet__author-logo" src="" />
</p>
<% if(owner.email != visiter.email){%>
    <% if(ans === 0){ %> 
<a href="/profile/<%= owner.email%>/follow" class="btn btn-secondary">Follow</a>
<% } else { %>
    <a class="btn btn-secondary">Following</a>
    <% } %>
<% } %>